<div class="row" style="padding-right: 3rem">
    <h4 class="text-center col-12" style="padding-bottom: 2rem" translate>Livros a entregar ao utilizador</h4>
    <div class="col-12">
<table class="table table-hover">
  <thead>
    <th translate>Titulo</th>
    <th translate>Autor</th>
    <th translate>Utilizador</th>
    <th translate>Data de reserva</th>
    <th></th>
  </thead>
  <tbody *ngFor="let book of historyRequest$ | async ">
    <tr *ngIf="!book.pickupDate">
      <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.title}}</a></td>
      <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.author}}</a></td>
      <td><a class="btn" (click)="clickUser(book.historyUser)">{{book.historyUser.email}}</a></td>
      <td>{{book.reservationDate | date:"M/d/yy, h:mm a"}}</td>
      <td class="btn" tooltip="Entregar livro ao utilizador" placement="top" (click)="openModal(deliver)"><img src="assets/deliver.png"></td>
    </tr>
    <ng-template class="modal" #deliver>
      <div class="modal-header">
        <p class="modal-title" translate>Confirmar entrega</p>
      </div>
      <form #f="ngForm" (keydown.enter)="onSubmit();privilegesModal.hide()">
      <div class="modal-body row align-content">
          <p class="col-12">{{ 'livro' | translate }}:</p>
          <div class="btn col-12">
          <p class="btn" (click)="clickBook(book.historyBook)">
            {{book.historyBook.title}}</p>
        </div>
          <p class="col-12">{{ 'livro' | translate }}:</p>
          <p class="btn col-12" (click)="clickUser(book.historyUser)">{{book.historyUser.email}}</p>
      </div>
      <div class="text-center col-10">
        <a class="btn" (keydown.enter)="onSubmit(book);modalRef.hide()" (click)="modalRef.hide();onSubmit(book)"><img src="assets/give.png"></a>
        <a class="btn" (click)="modalRef.hide()"><img src="assets/delete.png"></a>
      </div>
    </form>
    </ng-template>
  </tbody>
</table>
</div>
</div>