<div class="search">
  <div class="container mb-3">
    <div class="row justify-content-md-left">
      <div class="input-group">
        <select (change)="selectChangeHandler($event)">
          <option value="keyword" translate>Palavra-Chave</option>
          <option value="title" translate>Título</option>
          <option value="author" translate>Autor</option>
          <option value="description" translate>descrição</option>
          <option value="isbn">ISBN</option>
          <option value="topic" translate>topico</option>
        </select>


        <input class="form-control" type="text" name="search" [(ngModel)]="queryString" autocomplete="off" placeholder="{{'Procurar por' | translate}} {{selectedTypeSearch}}">
      </div>
    </div>
  </div>




  <div class="card mb-3" *ngFor="let item of catalog$ | async | FilterPipe: queryString: searchableList">

    <div class="card-body" (click)="clickItem(item)">
      <h5 class="card-title"><b>{{item.title}}</b>, {{item.author}}</h5>
      <p class="card-text"><b>Descrição:</b> {{item.description}}</p>
      <div [ngSwitch]="item.state">
        <p *ngSwitchCase="'available'" class="card-text "><b>Estado:</b>Disponivel</p>
        <p *ngSwitchCase="'reserved'" class="card-text "><b>Estado:</b>Indisponivel</p>
        <p *ngSwitchCase="'inUse'" class="card-text "><b>Estado:</b>Indisponivel</p>

      </div>
      <div>
        <img *ngFor="let item of getBooksSameIsbn(item).stateOthers" src="/assets/indis.png" style="margin-right:-1.2vw;">

        <img *ngFor="let item of getBooksSameIsbn(item).stateAvailable" src="/assets/dis.png" style="margin-right:-1.2vw;">
      </div>
      <hr>
    </div>

    <div class=" text-center">

      <button *ngIf="itemInFav(item)" type="button" id="like-button" [ngClass]="{'selected': true}" class="m-2" (click)="delFav(item)">
        <svg class="heart-icon " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z" /></svg>
        Favorito
      </button>

      <button *ngIf="!itemInFav(item)" type="button" id="like-button" [ngClass]="{'selected': false }" class="m-2" (click)="addFav(item)">
        <svg class="heart-icon " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z" /></svg>
        Favoritos
      </button>


      <button *ngIf="item.state==='available'" type="button" [ngClass]="{'selected': false }"  id="like-button" class="m-2"
        (click)="reservar(item)" (click)="css2()">
        <svg class="heart-icon"></svg>
        Reservar
      </button>


      <button *ngIf="item.state==='reserved'" type="button" [ngClass]="{'selected': true }" tooltip="remover reserva" containerClass="customClass"
        id="like-button" class="m-2" (click)="cancelarReserva(item)">
        <svg class="heart-icon"></svg>
        Reservado
      </button>


      <button *ngIf="item.state==='inUse'" type="button" [ngClass]="{'selected': true }" id="like-button" class="m-2"
        (click)="cancelarReserva(item)">
        <svg class="heart-icon"></svg>
        Reservado
      </button>

      <!-- <div  *ngIf="item.state==='available'"><img class="reservar" (click)="reservar(item)" src="/assets/bookEmpty.png" ></div>
         <div *ngIf="item.state==='reserved'"><img class="reservar float-right" (click)="reservar(item)" style="float:right" src="/assets/bookFull.png" ></div>
        <div *ngIf="item.state==='reserved'"><img  (mouseover)="hover=true" class="reservar float-right"(click)="addFav(item)" src="/assets/heartfull.png" ></div> -->


    </div>