<div class="search">
  <div class="container mb-3">
    <div class="row justify-content-md-left">
      <div class="input-group">
        <select (change)="selectChangeHandler($event)">
          <option value="keyword">Palavra-Chave</option>
          <option value="title">Título</option>
          <option value="author">Autor</option>
          <option value="description">descrição</option>
          <option value="isbn">isbn</option>
          <option value="topic">topico</option>
        </select>


        <input class="form-control" type="text" name="search" [(ngModel)]="queryString" autocomplete="off" placeholder="Procurar por {{selectedTypeSearch}}">
      </div>
    </div>
  </div>




  <div class="card mb-3" *ngFor="let item of catalog$ | async | FilterPipe: queryString: searchableList">
    
    <div class="card-body" (click)="clickItem(item)">
      <h5 class="card-title"> {{item.title}}, {{item.author}}</h5>
      <p class="card-text">Descrição: {{item.description}} </p>
      <p class="card-text ">Estado: {{item.state}} </p> 
    </div>
    <div><img class="reservar" (click)="reservar(item)"  src="/assets/bookEmpty.png" ></div>
   <!-- / (click)="changeImg($event.target)" -->
    <!-- <div class="card-footer text-center">Reservar<div> -->
  </div>