<div class="search">
  <div class="container mb-3">
    <div class="row justify-content-md-left">
      <div class="input-group">
        <select (change)="selectChangeHandler($event)">
          <option value="keyword" translate>Palavra-Chave</option>
          <option value="title" translate>Título</option>
          <option value="author" translate>Autor</option>
          <option value="description" translate>descrição</option>
          <option value="isbn">ISBN</option>
          <option value="topic" translate>topico</option>
        </select>


        <input class="form-control" type="text" name="search" [(ngModel)]="queryString" autocomplete="off" placeholder="{{'Procurar por' | translate}} {{selectedTypeSearch}}">
      </div>
    </div>
  </div>




  <div class="card mb-3" *ngFor="let item of catalog$ | async | FilterPipe: queryString: searchableList">
    
    <div class="card-body" (click)="clickItem(item)">
      <h5 class="card-title"> {{item.title}}, {{item.author}}</h5>
      <p class="card-text">{{ 'descriçāo' | translate }}: {{item.description}} </p>
      <p class="card-text ">{{ 'estado' | translate }}: {{item.state}} </p> 
    </div>
    
    <div class="text-right">
    <div  *ngIf="item.state==='available'"><img class="reservar" (click)="reservar(item)" src="/assets/bookEmpty.png" ></div>
    <div *ngIf="item.state==='reserved'"><img class="reservar float-right" (click)="reservar(item)" style="float:right" src="/assets/bookFull.png" ></div>
    <div *ngIf="item.state==='reserved'"><img class="reservar float-right"(click)="addFav(item)" src="/assets/heartfull.png" ></div>
</div>
  </div>