<button stype="button" class="btn btn-primary" (click)="openModal(updateModal)" tooltip="Actualizar Livro" placement="top"><img src="/assets/icons8-compose-16.png" ></button>

<ng-template #updateModal>
  <div class="modal-header">
    <h4 class="modal-title pull-left">update Books</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="onSubmit()" (keydown.enter)="onSubmit();modalRef.hide()">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="catalog.title" required>
      </div>
      <div class="form-group">
        <label for="description">Descriçāo</label>
        <input type="text" class="form-control" name="description" [(ngModel)]="catalog.description" required>
      </div>
      <div class="form-group">
        <label for="author">Autor</label>
        <input type="text" class="form-control" name="author" [(ngModel)]="catalog.author" required>
      </div>
      <div class="form-group">
        <label for="topic">Tema</label>
        <input type="text" class="form-control" name="topic" [(ngModel)]="catalog.topic" required>
      </div>
      <div class="form-group">
        <label for="location">Localizaçāo</label>
        <input type="text" class="form-control" name="location" [(ngModel)]="catalog.location" required>
      </div>
      <div class="form-group">
        <label for="isbn">ISBN</label>
        <input type="number" class="form-control" name="isbn" [(ngModel)]="catalog.isbn" required>
      </div>
      <button type="button" (click)="onSubmit()" (keydown.enter)="onSubmit()" (click)="modalRef.hide()" class="btn btn-success">Gravar</button>
    </form>
  </div>
</ng-template>