<h2>Detalhes do Utilizador</h2>
<br>
<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 text-center">
        <img src="/assets/nocoverplaceholder.jpg">
      </div>
      <div class="col-md-8">
        <h4 class="card-text">{{user.name}}</h4>
        <p class="card-text">Email: {{user.email}}</p>
        <p class="card-text">Numero de identificação pessoal: {{user.nip}} </p>
        <p class="card-text">Privilégios Administrativos: {{user.admin}} </p>
        <p class="card-text">Estado do Utilizador: {{user.active}} </p>
        <br>
        <table class="table-bordered">
          <thead>
            <th>Reservas do utilizador: </th>
          </thead>
          <tbody>
            <tr *ngFor="let book of history">
              <!-- <td *ngIf="book.deliveryDate != null">Não tem Reservas</td> -->
              <td *ngIf="book.deliveryDate === null">{{book.historyBook.title}}</td>
              <td *ngIf="book.deliveryDate === null">{{book.historyBook.author}}</td>
              <td *ngIf="book.historyBook.state ==='reserved' && book.deliveryDate === null"><button (click)="pickUpBook(book)" class="btn" tooltip="Entregar livro ao utilizador"
                  placement="top">Entregar livro ao utilizador</button></td>
              <td *ngIf="book.historyBook.state ==='inUse' && book.deliveryDate === null"><button (click)="deliverBook(book)" class="btn" tooltip="Receber livro do utilizador"
                  placement="top">Receber livro do utilizador</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <button (click)="changePrivileges(user.id)" class="btn btn-info" tooltip="Conceder Privilégios Administrativos"
    placement="top">admin privileges</button>
  <button (click)="disable(user.id)" class="btn btn-info" tooltip="Desactivar o utilizador" placement="top">disable</button>
  <button (click)="reactivate(user.id)" class="btn btn-info" tooltip="Reactivar o utilizador" placement="top">reactivate</button>
  <a><img class="back" src="/assets/back.png" (click)="cancel()"></a>
</div>