<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <!-- Logotipo -->
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Biblioteca 4.0</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive" [collapse]="!isCollapsed">
      <ul class="navbar-nav ml-auto">
        <!-- Login -->
        <li class="nav-item active" *ngIf="!(currentUser$ | async)?.id">
          <a class="nav-item nav-link btn" (click)="openModal(login)">{{ 'Entrar' | translate}}
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <!-- User -->
        <div class="btn-group" *ngIf="(currentUser$ | async)?.id && ((currentUser$ | async)?.admin === false)" dropdown>
          <li class="nav-item">
            <a class="nav-item nav-link mr-2 catalogo" href="#" routerLink="/user">{{ 'catalogo' | translate }}</a>
          </li>
          <li id="button-menu-dividers" href="#" dropdownToggle data-toggle="dropdown" class="nav-item nav-link btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
            aria-controls="dropdown-menu-dividers">
            <img src="assets/avatar.png" alt="Avatar" class="avatar"> {{account.name}} <span class="caret"></span>
          </li>
          <ul id="dropdown-menu-dividers" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-menu-dividers">
            <li role="menuitem"><a class="dropdown-item" href="#" routerLink="/personal/{{account.id}}">{{
                'areaPessoal' | translate }}</a></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item" href="#" routerLink="/home" (click)="logout()">{{ 'sair' |
                translate }}</a></li>
          </ul>
        </div>
        <!-- Admin -->
          <li class="nav-item" *ngIf="(currentUser$ | async)?.admin">
            <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/admin">
              <img src="assets/avatar.png" alt="Avatar" class="avatar">
              {{account.name}} <span class="caret"></span></a>
          </li>
          <li class="nav-item" *ngIf="(currentUser$ | async)?.admin">
            <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/home" (click)="logout()">{{
              'sair' | translate }}</a>
          </li>
        <!-- Translate -->
        <div class="btn-group">
          <a class="nav-item nav-link btn" (click)="changeLang('pt')"><img src="assets/imgs/pt.png" alt="pt"></a>
          <a class="nav-item nav-link btn" (click)="changeLang('en')"><img src="assets/imgs/en.png" alt="en"></a>
        </div>
        <!-- End Translate -->
      </ul>
    </div>
  </div>
</nav>

<ng-template #login>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide(); onClose();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (keydown.enter)="loginUserNg()" (ngSubmit)="loginUserNg()">
      <div class="form-group">
        <label class="required" for="email">E-mail</label>
        <input #email="ngModel" placeholder="{{ 'Introduza e-mail válido' | translate }}" ngModel email type="text"
          class="form-control" name="email" [(ngModel)]="account.email" required>
      </div>
      <div *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">
        {{ 'login.p1' | translate }}
      </div>
      <div class="form-group">
        <label class="required" for="password" translate>Palavra-passe</label>
        <input #password="ngModel" ngModel placeholder="{{ 'Introduza Palavra-passe' | translate }}" type="password"
          class="form-control" name="password" [(ngModel)]="account.password" required>
      </div>
      <div *ngIf="msg!=undefined" class="alert alert-danger" role="alert">
        {{msg}}
      </div>
      <a class="nav-item nav-link" href="#" routerLink="/register" (click)="modalRef.hide(); onClose()">{{ 'registe-se'
        |
        translate }}</a>
      <button type="submit" (keydown.enter)="loginUserNg()" (click)="loginUserNg()" class="btn btn-success" [disabled]="f.invalid"
        translate> submeter</button>
    </form>
  </div>
</ng-template>