input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.required:after {
    content:' *'; 
    color: red;
  }
  .btn-outline-secondary{
      border: 0px;
  }

.catalogo{
    color:rgba(255,255,255,.5)!important;
}

img {
    height: 1.5rem;
}
  