<!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/home" >Biblioteca Bocage</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active">
          <a class="nav-item nav-link active" href="#" [routerLinkActive]="['active']" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/about">sobre</a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/contact">contactos</a>
        </li> -->
        <li class="nav-item" *ngIf="(currentUser$ | async)?.id && ((currentUser$ | async)?.admin === false)">
          <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/user">{{account.name}}</a>
        </li>
        <li class="nav-item" *ngIf="(currentUser$ | async)?.id && ((currentUser$ | async)?.admin === false)">
            <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/personal/{{account.id}}" >Area Pessoal</a>
          </li>
      
        <li class="nav-item" *ngIf="(currentUser$ | async)?.admin">
          <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/admin">Administrador</a>
        </li>
        <li class="nav-item" *ngIf="!(currentUser$ | async)?.id" >
          <a class="nav-item nav-link" (click)="openModal(login)">Login</a>
        </li>
        <li class="nav-item" *ngIf="!(currentUser$ | async)?.id" >
          <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/register">Registe-se</a>
        </li>
        <li class="nav-item" *ngIf="(currentUser$ | async)?.id">
            <a class="nav-item nav-link" href="#" [routerLinkActive]="['active']" routerLink="/home" (click)="logout()">Logout</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<ng-template  #login>
  <div  class="modal-header">
    <h4 class="modal-title pull-left">Login</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #f="ngForm" (ngSubmit)="loginUserNg()">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input #email="ngModel" placeholder="Introduza e-mail válido" ngModel email type="text" class="form-control" name="email"  [(ngModel)] = "account.email" required>
      </div>
      <div *ngIf="email.invalid && email.touched" class="alert alert-danger" role="alert">
        O e-mail introduzido é inválido. Por favor introduza um e-mail correcto.
      </div>
     
      <div class="form-group">
        <label for="password">Palavra-passe</label>
        <input #password="ngModel" ngModel placeholder="Introduza a palavra-passe correcta" type="password" class="form-control" name="password"  [(ngModel)] = "account.password" required>
      </div>
      <div *ngIf="msg!=undefined" class="alert alert-danger" role="alert">
        {{msg}}
      </div>
      <button type="submit" (click)="loginUserNg()" class="btn btn-success" [disabled]="f.invalid">Login</button>
    </form>
  </div>
</ng-template>