<div class="row" style="padding-right: 3rem">
    <div class="col-12">
<div class="table-responsive">
  <table class="table" [ngClass]='theme'>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Identificação Pessoal</th>
        <th>Estado</th>
        <th>Privilégios</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of user$ | async | paginate: { id: 'userAdminPagination', itemsPerPage: 5, currentPage: page } "
        (click)="clickItem(user)">
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.nip}}</td>
        <td *ngIf="!user.active"><img src="/assets/user-inactive.png"></td>
        <td *ngIf="user.active"><img src="/assets/user-active.png"></td>
        <td *ngIf="user.admin"><img src="/assets/admin.png"></td>
        <td *ngIf="!user.admin"></td>
      </tr>
    </tbody>
  </table>
  <br>
  <div class="text-center col-10">
  <pagination-controls id="userAdminPagination" class="my-paginationUser" (pageChange)=" page = $event" previousLabel="Anterior"
    nextLabel="Próximo" maxSize="7"></pagination-controls>
  </div>
</div>
</div>
