table {
    width: 100%;
  }
  .mat-sort-header-container {
    align-items: center;
  }

  /* https://foundation.zurb.com/sites/docs/pagination.html */

/*https://github.com/michaelbromley/ngx-pagination*/

.my-paginationUser /deep/ .ngx-pagination .current {
  background: #33444d;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.my-paginationUser /deep/ .ngx-pagination .container {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.my-paginationUser /deep/ .ngx-pagination .disabled {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

table {
  width: 100%;
  border:white;
  border-collapse: collapse;
}

/* Zebra striping */

tr:nth-of-type(odd) {
  background: #eee;
}

tr{
  border:0.2rem white;
}

th {
  background: #167696;
  color: #dee1e6;
  font-weight: bold;
  text-align: center;
  padding: 6px;
  border: 1px solid #ccc;
}

td {
  padding: 6px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  text-align: center;
}