<h2>Detalhes do livro</h2>

<div class="card">
    <div class="card-body">
        <div class="row ">
         <div *ngIf="catalog.photoLink==null" class="col-md-4 text-center">
             <img src="/assets/nocoverplaceholder.jpg">
         </div>
         <div  *ngIf="catalog.photoLink!==null" class="col-md-4 text-center">
            <img src="{{catalog.photoLink}}">
        </div>

            <div class="col-md-8">

                <h4 class="card-text"> <b>{{catalog.title}}</b>, {{catalog.author}}</h4>
                <p class="card-text"><b>Categoria:</b> {{catalog.topic}}</p>
                <p class="card-text"><b>Descrição:</b> {{catalog.description}} </p>
                <p class="card-text"><b>Localização:</b> {{catalog.location}} </p>
                <p class="card-text"><b>ISBN:</b> {{catalog.isbn}} </p>
                <p class="card-text"><b>Estado:</b> {{catalog.state}}</p>
            </div>

        </div>
    </div>
    <!-- <div class="card-footer text-center">
            <div class="row ">  
        <div class="col-md-6 btn">Voltar </div>
        <div class="col-md-6 btn">Reservar</div>

    </div> -->
        <!-- </div> -->
       
</div> <img class="back"  src="/assets/back.png" routerLink="/user">