
<div class=container>
<h2>{{ 'detalheLivros.p1' | translate }}</h2>

<div class="card">
    <div class="card-body">
        <div *ngIf="catalog.availableBooksWithThisIsbn.length >0" class="row ">
            <div *ngIf="catalog.availableBooksWithThisIsbn[0].photoLink==null" class="col-md-4 text-center">
                <img src="/assets/nocoverplaceholder.jpg">
            </div>
            <div *ngIf="catalog.availableBooksWithThisIsbn[0].photoLink!==null" class="col-md-4 text-center">
                <img src="{{catalog.availableBooksWithThisIsbn[0].photoLink}}">
            </div>


            <div *ngIf="catalog.availableBooksWithThisIsbn.length >0" class="col-md-8">

                <h4 class="card-text">{{catalog.availableBooksWithThisIsbn[0].title}},
                    {{catalog.availableBooksWithThisIsbn[0].author}}</h4>
                <p class="card-text">{{ 'categoria' | translate }}: {{catalog.availableBooksWithThisIsbn[0].topic}}</p>
                <p class="card-text text-justify">{{ 'descricao' | translate }}:
                    {{catalog.availableBooksWithThisIsbn[0].description}} </p>
                <p class="card-text">{{ 'localizacao' | translate }}:
                    {{catalog.availableBooksWithThisIsbn[0].location}} </p>
                <p class="card-text">ISBN: {{catalog.isbn}} </p>

                <p>Rating:  <rating  [max]="max" [readonly]="isReadonly" [(ngModel)]="catalog.availableBooksWithThisIsbn[0].rating"></rating></p>
               
                
            </div>


        </div>
        <div *ngIf="catalog.availableBooksWithThisIsbn.length ==0" class="row ">
            <div *ngIf="catalog.unavailableBooksWithThisIsbn[0].photoLink==null" class="col-md-4 text-center">
                <img src="/assets/nocoverplaceholder.jpg">
            </div>
            <div *ngIf="catalog.unavailableBooksWithThisIsbn[0].photoLink!==null" class="col-md-4 text-center">
                <img src="{{catalog.unavailableBooksWithThisIsbn[0].photoLink}}">
            </div>
            <div *ngIf="catalog.availableBooksWithThisIsbn.length ==0" class="col-md-8">

                <h4 class="card-text">{{catalog.unavailableBooksWithThisIsbn[0].title}},
                    {{catalog.unavailableBooksWithThisIsbn[0].author}}</h4>
                <p class="card-text">{{ 'categoria' | translate }}:
                    {{catalog.unavailableBooksWithThisIsbn[0].topic}}</p>
                <p class="card-text text-justify">{{ 'descricao' | translate }}:
                    {{catalog.unavailableBooksWithThisIsbn[0].description}} </p>
                <p class="card-text">{{ 'localizacao' | translate }}:
                    {{catalog.unavailableBooksWithThisIsbn[0].location}} </p>
                <p class="card-text">ISBN: {{catalog.isbn}} </p>

                <p>Rating: <rating [(ngModel)]="catalog.unavailableBooksWithThisIsbn[0].rating" [max]="max" [readonly]="isReadonly"></rating></p>
            </div>
        </div>

    </div>
</div>
<img class="back" src="/assets/back.png" routerLink="/user">
</div>