<tabset>
  <tab id="users-admin" heading="Livros a Entregar">
    <br>
    <table class="table table-hover" [ngClass]='theme'>
      <thead>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Utilizador</th>
        <th>Data de reserva</th>
        <th></th>
      </thead>
      <tbody *ngFor="let book of array(history)">
        <tr *ngIf="!book.pickupDate">
          <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.title}}</a></td>
          <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.author}}</a></td>
          <td><a class="btn" (click)="clickUser(book.historyUser)">{{book.historyUser.email}}</a></td>
          <td>{{book.reservationDate | date:"M/d/yy, h:mm a"}}</td>
          <td class="btn" tooltip="Entregar livro ao utilizador" placement="top" (click)="openModal(deliver)"><img src="assets/deliver.png"></td>
        </tr>
        <ng-template class="modal" #deliver>
          <div class="modal-header">
            <p class="modal-title">Confirmar entrega</p>
          </div>
          <div class="modal-body">
            <p class="btn" (click)="clickBook(book.historyBook)">Livro: {{book.historyBook.title}}</p>
            <p class="btn" (click)="clickUser(book.historyUser)">Utilizador: {{book.historyUser.email}}</p>
          </div>
          <div>
            <a class="btn" (click)="pickUpBook(book)" (click)="modalRef.hide()"><img src="assets/give.png"></a>
            <a class="btn" (click)="modalRef.hide()"><img src="assets/delete.png"></a>
          </div>
        </ng-template>
      </tbody>
    </table>
  </tab>
  <tab id="users-admin" heading="Livros a Receber">
    <br>
    <table class="table table-hover" [ngClass]='theme'>
      <thead>
        <th>Titulo</th>
        <th>Autor</th>
        <th>Utilizador</th>
        <th>Data de levantamento</th>
        <th></th>
      </thead>
      <tbody *ngFor="let book of  array(history)">
        <tr *ngIf="!book.deliveryDate && book.pickupDate">
          <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.title}}</a></td>
          <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.author}}</a></td>
          <td><a class="btn" (click)="clickUser(book.historyUser)">{{book.historyUser.email}}</a></td>
          <td>{{book.pickupDate | date:"M/d/yy, h:mm a"}}</td>
          <td class="btn" tooltip="Receber livro do utilizador" placement="top" (click)="openModal(receive)"><img src="/assets/receive.png"></td>
        </tr>
        <ng-template class="modal rounded-0" #receive>
          <div class="modal-header">
            <p class="modal-title">Confirmar devolução:</p>
          </div>
          <div class="modal-body">
            <p class="btn" (click)="clickBook(book.historyBook)">Livro: {{book.historyBook.title}}</p>
            <p class="btn" (click)="clickUser(book.historyUser)">Utilizador: {{book.historyUser.email}}</p>
          </div>
          <div>
            <a class="btn" (click)="deliverBook(book)" (click)="modalRef.hide()"><img src="assets/give.png"></a>
            <a class="btn" (click)="modalRef.hide()"><img src="assets/delete.png"></a>
          </div>
        </ng-template>
      </tbody>
    </table>
  </tab>
  <tab heading="Movimentos Previstos">
    <br>
    <div class="container">
      <div class="row">
        <div class="col">
          <div id="print-section">
            <table class="table table-hover" [ngClass]='theme'>
              <thead>
                <th>Livros a recolher</th>
                <th>Localização</th>
              </thead>
              <tbody *ngFor="let book of array(history)">
                <tr *ngIf="book.reservationDate && !book.deliveryDate">
                  <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.title}}</a></td>
                  <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.location}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <button printSectionId="print-section" ngxPrint>Imprimir</button>
        </div>
        <div class="col">
          <div class="tm-bg-primary-dark tm-block">
            <div>
              <table class="table table-hover" [ngClass]='theme'>
                <thead>
                  <th>Livros mais reservados</th>
                </thead>
                <tbody *ngFor="let bookId of mostRead; let i = index">
                  <tr *ngIf="i<5">
                    <td><a class="btn" (click)="clickBookMustRead(bookId)"> {{bookId}}</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </tab>
</tabset>