.circle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    font-size: 50px;
    color: #fff;
    line-height: 200px;
    text-align: center;
    background: #343a40!important;
};
  
.py {
    padding-bottom: 8rem!important;
   
}
   