<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
  <div class="circle mg-fluid d-block mx-auto  ">
    <p style="height:50px">Biblioteca</p>
    <p style="height:50px">Bocage</p>
  </div>
  <!-- <img class="img-fluid d-block mx-auto" src="http://placehold.it/200x200&text=Logo" alt=""> -->
</header>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <!-- <h1>{{ 'A sua Biblioteca' | translate }}</h1>
    <p class="lead">Mais conteúdos à sua disposição</p>
    <p translate>A Biblioteca Bocage (BB) tem como principal missão assegurar a todos os utentes o acesso gratuito a fundos documentais, a serviços de difusão documental, a programas de promoção da leitura e a programas de formação na área da literacia da informação.
      </p> -->
    <h1>{{ 'home.title' | translate }}</h1>
    <p class="lead">{{ 'home.subtitle' | translate }}</p>
    <p translate>{{ 'home.p1' | translate }}</p>
  </div>
</section>

<!-- Image Section - set the background image for the header in the line below -->
<section class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1081');">
  <!-- Put anything you want here! There is just a spacer below for demo purposes! -->
  <div style="height: 200px;"></div>
</section>

<!-- Content section -->
<section class="py-5">
  <div class="container">
    <h1 translate>Regulamento</h1>
    <p class="lead"> </p>
    <p translate> Regulamento de Permissões Administrativas, Taxas e Outras Receitas, onde se inclui as Bibliotecas
      Municipais, Subseção II, artigo 857º (página 101)
      [Regulamento n.º 364/2012, Diário da República, 2.ª série, de 14/08] </p>
  </div>
</section>