<div class="table-responsive">
  <table class="table" [ngClass]='theme'>
    <thead>
      <tr>
        <th *ngFor="let col of headerUsers">
          {{col}}
        </th>
        <th>Estado</th>
        <th>Administrador</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of user$ | async | paginate: { id: 'userAdminPagination', itemsPerPage: 5, currentPage: page } "
        (click)="clickItem(row)">
        <td *ngFor="let col of headerUsers">
          {{row[col]}}
        </td>
        <td *ngIf="!row.active"><img src="/assets/user-inactive.png"></td>
        <td *ngIf="row.active"><img src="/assets/user-active.png"></td>
        <td *ngIf="row.admin"><img src="/assets/admin.png"></td>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="userAdminPagination" class="my-paginationUser" (pageChange)=" page = $event" previousLabel="Anterior"
    nextLabel="Próximo" maxSize="7"></pagination-controls>
