input.ng-invalid.ng-touched{
    border: 1px solid red;
}

.container{

  padding-top: 5vh;
  padding-bottom: 10vh;

}
#like-button {
  color: #888;
  font-size: 1.5em;
  font-family: 'Heebo', sans-serif;
  background-color: transparent;
  border: 0.1em solid;
  border-radius: 1em;
  padding: 0.333em 1em 0.25em;
  line-height: 1.2em;
  box-shadow: 0 0.25em 1em -0.25em;
  cursor: pointer;
  transition: color 150ms ease-in-out, background-color 150ms ease-in-out, transform 150ms ease-in-out;
  outline: 0;
  margin: 0.5em 0;
}
  #like-button:hover {
    color: indianred;
  }
  
  #like-button:active {
    transform: scale(0.95);
  }
  
  #like-button.selected {
    color: #FFF;
    background-color: indianred;
    border-color: indianred;
  }
  
  .heart-icon {
    display: inline-block;
    fill: currentColor;
    width: 0.8em;
    height: 0.8em;
    margin-right: 0.2em;
  }




.my-paginationUser /deep/ .ngx-pagination .current {
  background: #33444d;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
  
.my-paginationUser /deep/ .ngx-pagination .container {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
  
.my-paginationUser /deep/ .ngx-pagination .disabled {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.teste {
  background-color: #33444d;
}
  