input.ng-invalid.ng-touched{
    border: 1px solid red;
}


.my-paginationUser /deep/ .ngx-pagination .current {
  background: #33444d;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
  
.my-paginationUser /deep/ .ngx-pagination .container {
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}
  
.my-paginationUser /deep/ .ngx-pagination .disabled {
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2rem;
}

.teste {
  background-color: #33444d;
}
  