
<div class="table-responsive">
    <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442; search">
      </div>
      <br>
  <table class="table" [ngClass]='theme'>
    <thead>
      <tr>
        <th *ngFor="let col of header">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of catalog$ | async  | filter:searchText">
        <td *ngFor="let col of header">
          {{row[col]}}
        </td>
        <td *ngIf="isBook">
          <button (click)="deleteCatalog(row.id)" class="btn btn-info"> Delete</button>  
          <app-update [row]='row' ></app-update>
        </td>
      </tr >
    </tbody>
  </table>
</div>



