<div>
 <div class="search">
    <div class="container mb-3 shadow">
      <div class="row justify-content-md-left">
        <div class="input-group">
          <select (change)=" selectChangeHandler($event)">
            <option value="keyword">Palavra-Chave</option>
            <option value="title">Título</option>
            <option value="author">Autor</option>
            <option value="description">Descrição</option>
            <option value="isbn">Isbn</option>
            <option value="topic">Tópico</option>
          </select>
          <input class="form-control" type="text" name="search" [(ngModel)]="queryString" autocomplete="off"
            placeholder="Procurar por {{selectedTypeSearchOutput}}">
        </div>
      </div>
    </div>
  </div>
  <br>
  <table class="table table-hover" [ngClass]='theme'>
    <thead>
      <tr>
        <th *ngFor="let col of header">
          {{col}}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of catalog$ | async | FilterPipe: queryString: searchableList | paginate: { id: 'bookAdminPagination', itemsPerPage: 5, currentPage: p }" (click)="clickItem(row)">
        <td *ngFor="let col of header">
          {{row[col]}}
        </td>
      </tr>
    </tbody>
  </table>
  <pagination-controls id="bookAdminPagination" class="my-pagination" (pageChange)=" p = $event" previousLabel="Anterior" nextLabel="Próximo"
    maxSize="7"></pagination-controls>
</div>