<!-- Page Content -->
<div class="container">


  
     <br>
   
  <br>

  <!-- Page Features -->
  <div class="row text-center p-3">

    <div class="col-lg-4 col-md-6 mb-4">
      <div >
        <img class="icon" src="/assets/phone.png">
        <div >
          <h4 translate>Telefone</h4>
          <p>00 351 210 000 000</p>
          <p class="pl-3 pr-3"  >{{ 'contactos.p1' | translate }}
         </p>
        </div>
       
      </div>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
        <div >
          <img class="icon" src="/assets/location.png">
          <div >
            <h4 translate>Morada</h4>
            <p class="pl-3 pr-3"  >Rua Poeta Bocage.1649-014 Lisboa Portugal
           </p>
          </div>
         
        </div>
      </div>

      <div class="col-lg-4 col-md-6 mb-4">
          <div >
            <img class="icon" src="/assets/email.png">
            <div >
              <h4 >E-mail </h4>
              <p>geral@bb.com</p>
              <p class="pl-3 pr-3"  >{{ 'contactos.p2' | translate }}
             </p>
            </div>
           
          </div>
        </div>

    




    
  </div>
  <!-- /.row -->

<br>
  <div style="border-color:#ededed;"  class=" text-center p-3 mt-3">
      <h1 >Horario de funcionamento</h1>		  
      <br>
      <h2 >Segunda a sexta-feira | 09h00 – 22h00</h2>			
      <h4 >Sábados | 09h00 - 13h00</h4>		
    <p><strong>Férias escolares</strong> | 09h00 – 19h30</p>
<p>A Biblioteca&nbsp;encerra sábado à tarde, domingo, feriados&nbsp;nacionais e dia 24 de dezembro.</p>
  </div>
</div>
<!-- /.container -->