<tabset>
    <tab heading="{{ 'admin.tab1' | translate }}">
        <br>
        <app-admin-history></app-admin-history>
    </tab>
    <tab id="users-admin" heading="{{ 'admin.tab2' | translate }}">
        <br>
        <app-admin-management [headerUsers]='["name","E-mail","NIP"]' [user$]='user$' [theme]='"table-light"'></app-admin-management>
    </tab>
    <tab id="books-admin" heading="{{ 'admin.tab3' | translate }}">
        <br>
        <app-table [isBook]="true" [header]='["title","author","isbn","topic","location","state"]' [catalog$]='catalog$'
            [theme]='"table-light"'></app-table>
        <app-add></app-add>

    </tab>
</tabset>