<tabset>
  <tab heading="Gestão de Requisições" translate>
    <app-history-admin [history$]='history$'></app-history-admin>
  </tab>
  <tab id="users-admin" heading="Gestão de Utilizadores" translate>
      <br>
      <div class="search content">
        <div class="container mb-3">
          <div class="row justify-content-md-left">
            <div class="input-group">
              <select class="select" (change)="selectChangeHandler($event)">
                  <option value="email">Email</option>
                  <option value="name" translate>Name</option>
                  <option value="nip" translate>NIP</option>
              </select>
              <input class="form-control" type="text" name="search1" [(ngModel)]="inputUser" (keydown.enter)="onChangeInputUser()" 
                autocomplete="off" placeholder="{{'Procurar por' | translate}} {{selectedTypeSearchUser}}">
              <button class="btn" type="submit" (click)="onChangeInputUser()"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
    <div *ngIf="(searchUser$ | async)?.length > 0; else notfoundUser">
      <app-user-admin [user$]='searchUser$'></app-user-admin>
    </div>
    <ng-template #notfoundUser>
      <div>
        <p translate>A pesquisa por <span class="font-weight-bold">"{{inputUser}}"</span> não obteve resultados. Por favor, faça nova
          pesquisa.</p>
      </div>
    </ng-template>
  </tab>
  <tab id="books-admin" heading="Gestão de Livros" translate>
    <br>
    <div class="search content">
      <div class="container mb-3">
        <div class="row justify-content-md-left">
          <div class="input-group">
            <select class="select" (change)="selectChangeHandler($event)">
              <option value="keyword" translate>Palavra-Chave</option>
              <option value="title" translate>Título</option>
              <option value="author" translate>Autor</option>
              <option value="description" translate>Descrição</option>
              <option value="isbn" translate>Isbn</option>
              <option value="topic" translate>Tópico</option>
            </select>
            <input class="form-control" type="text" name="search2" [(ngModel)]="inputCatalog" (keydown.enter)="onChangeInputCatalog()" 
              autocomplete="off" placeholder="{{'Procurar por' | translate}} {{selectedTypeSearchCatalog}}">
            <button class="btn" type="submit" (click)="onChangeInputCatalog()"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div *ngIf="(searchCatalog$ | async)?.length > 0; else notfoundCatalog">
      <app-catalog-admin [catalog$]='searchCatalog$'></app-catalog-admin>
      <app-add-book></app-add-book>
    </div>
    <ng-template #notfoundCatalog>
      <div>
        <p translate>A pesquisa por <span class="font-weight-bold">"{{inputCatalog}}"</span> não obteve resultados. Por favor, faça nova
          pesquisa.</p>
      </div>
    </ng-template>
  </tab>
</tabset>
