<div class="container-fluid">
  <div class="row">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 m-0">
      <aside class="main_sidebar" (ngModel)="showRequest">
        <ul>
          <li class="active"><i class="fas fa-tasks"></i><a class="btn" data-toggle="collapse" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" data-target="#movimentos" aria-controls="movimentos" aria-expanded="false"
              aria-label="Toggle navigation">Movimentos<i class="fas fa-caret-down"></i></a>
            <ul class="collapse" id="movimentos" [collapse]="!isCollapsed">
              <li><i class="fas fa-inbox"></i><a class="btn" (click)="showRequest = true; showDevolution=false; showAdd = false; showCatalog = false;showUser = false; showAnalyze=false">Entregar Livro</a></li>
              <li><i class="fas fa-inbox"></i><a class="btn" (click)="showDevolution=true;showRequest = false; showAdd = false; showCatalog = false;showUser = false; showAnalyze=false">Receber Livro</a></li>
            </ul>
          </li>
          <li><i class="fas fa-book-open"></i><a class="btn" data-toggle="collapse" (click)="isCollapsedd = !isCollapsedd"
              [attr.aria-expanded]="!isCollapsedd" data-target="#catalogo" aria-controls="catalogo" aria-expanded="false"
              aria-label="Toggle navigation">Catálogo<i class="fas fa-caret-down"></i></a>
            <ul class="collapse" id="catalogo" [collapse]="!isCollapsedd">
              <li><i class="fas fa-book-reader"></i><a class="btn" (click)="showCatalog = true; showAdd = false; showUser = false;showRequest = false; showAnalyze=false;showDevolution=false">Ver
                  Catálogo</a></li>
              <li><i class="fas fa-plus-circle"></i><a class="btn" (click)="showAdd = true; showCatalog = false; showUser = false;showRequest = false; showAnalyze=false; showDevolution=false">Adicionar
                  Livro</a></li>
            </ul>
          </li>
          <li><i class="fas fa-chart-line"></i><a class="btn" (click)="showAnalyze=true;showRequest = false; showDevolution=false; showAdd = false; showCatalog = false;showUser = false">Análise</a></li>
          <li><i class="fas fa-user-cog"></i><a class="btn" (click)="showUser = true; showAnalyze=false;showRequest = false; showDevolution=false; showAdd = false; showCatalog = false;">Utilizadores</a></li>
        </ul>
      </aside>
    </div>
    <!-- container lado direito -->
    <div class="col-xl-10 col-lg-9 col-md-8 col-sm-6 padding">
      <!-- add books component -->
      <div *ngIf="showAdd">
        <app-add-book (submit)="showCatalog = true; showAdd = false; showUser = false"></app-add-book>
      </div>
      <!-- catalog component -->
      <div *ngIf="showCatalog">
        <br>
        <!-- search component -->
        <div class="search content">
          <div class="container mb-3">
            <div class="row options justify-content-md-left">
              <div class="input-group">
                <select class="select" (change)="selectChangeHandler($event)">
                  <option value="keyword" translate>Palavra-Chave</option>
                  <option value="title" translate>Título</option>
                  <option value="author" translate>Autor</option>
                  <option value="description" translate>Descrição</option>
                  <option value="isbn">Isbn</option>
                  <option value="topic" translate>Tópico</option>
                </select>
                <input class="form-control" type="text" name="search2" [(ngModel)]="inputCatalog" (keydown.enter)="onChangeInputCatalog()"
                  autocomplete="off" placeholder="{{'Procurar por' | translate}} {{selectedTypeSearchCatalog}}"
                  (ngModelChange)="loadCatalogAfterSearch($event)">
                <button class="btn btnSearch" type="submit" (click)="onChangeInputCatalog()"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="(searchCatalog$ | async)?.length > 0; else notfoundCatalog">
          <app-catalog-admin [catalog$]='searchCatalog$'></app-catalog-admin>
        </div>
        <!-- not found search -->
        <ng-template #notfoundCatalog>
          <div *ngIf="inputCatalog !== ''">
            <p> {{'A pesquisa por'| translate}} <span class="font-weight-bold">"{{inputCatalog}}"</span> {{'não obteve resultados.
              Por favor, faça nova pesquisa'| translate}} </p>
          </div>
        </ng-template>
      </div>
      <div *ngIf="showUser">
        <br>
        <div class="search content">
          <div class="container mb-3">
            <div class="row options justify-content-md-left">
              <div class="input-group">
                <select class="select" (change)="selectChangeHandler($event)">
                  <option value="email">Email</option>
                  <option value="name" translate>Name</option>
                  <option value="nip" translate>NIP</option>
                </select>
                <input class="form-control" type="text" name="search1" [(ngModel)]="inputUser" (keydown.enter)="onChangeInputUser()"
                  autocomplete="off" placeholder="{{'Procurar por' | translate}} {{selectedTypeSearchUser}}"
                  (ngModelChange)="loadUserAfterSearch($event)">
                <button class="btn btnSearch" type="submit" (click)="onChangeInputUser()"><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <br>
        <div *ngIf="(searchUser$ | async)?.length > 0; else notfoundUser">
          <app-user-admin [user$]='searchUser$'></app-user-admin>
        </div>
        <ng-template #notfoundUser>
          <div *ngIf="inputUser !== ''">
            <p> {{'A pesquisa por'| translate}} <span class="font-weight-bold">"{{inputUser}}"</span> {{'não obteve resultados.
                Por favor, faça nova pesquisa'| translate}} </p>
          </div>
        </ng-template>
      </div>
      <div *ngIf="showRequest">
          <app-request></app-request>
      </div>
      <div *ngIf="showDevolution">
          <app-devolution></app-devolution>
      </div>
      <div *ngIf="showAnalyze">
          <app-analyze></app-analyze>
      </div> 
    </div>
  </div>
</div>
