<br>
<div class="container">
  <div class="row">
    <div class="col">
      <div id="print-section">
        <table class="table table-hover" [ngClass]='theme'>
          <thead>
            <th translate>Livros a recolher</th>
            <th translate>Localização</th>
          </thead>
          <tbody *ngFor="let book of history">
            <tr *ngIf="book.reservationDate && !book.deliveryDate">
              <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.title}}</a></td>
              <td><a class="btn" (click)="clickBook(book.historyBook)">{{book.historyBook.location}}</a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <button printSectionId="print-section" ngxPrint>{{ 'imprimir' | translate }}</button>
    </div>
    <div class="col">
      <div class="tm-bg-primary-dark tm-block">
        <div>
          <table class="table table-hover" [ngClass]='theme'>
            <thead>
              <th translate>Livros mais reservados</th>
            </thead>
            <tbody *ngFor="let bookId of mostRead; let i = index">
              <tr *ngIf="i<5">
                <td><a class="btn" (click)="clickBookMustRead(bookId)"> {{bookId}}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>