<!-- <ng-template #content let-modal>
  <div class="modal-header"  *ngIf="isLoadingResults"  >
    <h4 class="modal-title" id="modal-basic-title">Introduzir um livro</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [FormGroup]="bookForm" (ngSubmit)="onFormSubmit(bookForm.value)">
      <div class="form-group">
        <label for="title">Titlo</label>
        <input type="text" class="form-control" id="title" placeholder="Titlo" formControlName="book_title">
      </div>
      <div class="form-group">
        <label for="author">Autor</label>
        <input type="text" class="form-control" id="author" placeholder="Autor" formControlName="book_author">
      </div>
      <div class="form-group">
        <label for="description">Tema</label>
        <input type="text" class="form-control" id="description" placeholder="Descrição" formControlName="book_description" >
      </div>
      <div class="form-group">
        <label for="Isbn">Isbn</label>
        <input type="text" class="form-control" id="Isbn" placeholder="Isbn" formControlName="book_isbn">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Introduzir um livro</button>

<hr> -->
