/* You can add global styles to this file, and also import other style files */
:host{
  border:0;
  padding: 0;
}
body{
    background-color: #fffdf8;
    border:0;
    padding: 0;
}

.tooltip.top .tooltip-arrow {

 
    border: 1px solid #e0e0e0;
    width: 10px;
    height: 10px;
    border-bottom-color: white;
    background-color: white;
  }
  

  
  .tooltip-inner {
    border: 1px solid #ddd;
    background-color: #fff;
    color : #666;
  }

  * {
    font-family: 'Montserrat', sans-serif; 
    font-family: 'Slabo 27px', serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Nunito', sans-serif;
   }