<div class="search">
  <div class="container mb-3">
    <div class="row justify-content-md-left">
      <div class="input-group">
      <select (change)=" selectChangeHandler($event)">
        <option value="keyword" translate>Palavra-Chave</option>
        <option value="title" translate>Título</option>
        <option value="author" translate>Autor</option>
        <option value="description" translate>descrição</option>
        <option value="isbn">ISBN</option>
        <option value="topic" translate>topico</option>
        </select>
        <input class="form-control" type="text" name="search" [(ngModel)]="input" autocomplete="off"
          placeholder="{{ 'Procurar por' | translate }} {{selectedTypeSearch}}" (click)="searchMethod(input)">
      </div>
    </div>
  </div>

