<div class="container">
  <div class="search content">
    <div class="container">
      <div class="row justify-content-md-left">
        <div class="input-group">
          <select class="select" (change)="selectChangeHandler($event)">
            <option value="keyword" translate>Palavra-Chave</option>
            <option value="title" translate>Título</option>
            <option value="author" translate>Autor</option>
            <option value="description" translate>Descrição</option>
            <option value="isbn" translate>Isbn</option>
            <option value="topic" translate>Tópico</option>
          </select>
          <input class="form-control" type="text" name="search2" [(ngModel)]="inputCatalog" (keydown.enter)="onChangeInputCatalog()"
            autocomplete="off" placeholder="{{'Procurar por' | translate}} {{selectedTypeSearchCatalog}}">
          <button class="btn" type="submit" (click)="onChangeInputCatalog()"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  <div class="card mb-3" *ngFor="let item of searchCatalog$ | async ">
  
    <div class="card-body" (click)="clickItem(item)">
      
      <div class="text-right">
        <button *ngIf="!itemInFav(item.isbn)"  id="like-button" [ngClass]="{'selected': false }" class="m-2"
        (click)="addFav(item.isbn)">
        <svg class="heart-icon " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z" /></svg>
        </button></div>
      <div *ngIf="item.availableBooksWithThisIsbn.length >0">
          <h5 class="card-title"><b>{{item.availableBooksWithThisIsbn[0].title}}</b>, {{item.availableBooksWithThisIsbn[0].author}}</h5>
          <p class="card-text text-justify"><b>Descrição:</b> {{item.availableBooksWithThisIsbn[0].description}}</p>
      
      </div>
      <div *ngIf="item.availableBooksWithThisIsbn.length == 0">
          <h5 class="card-title"><b>{{item.unavailableBooksWithThisIsbn[0].title}}</b>, {{item.unavailableBooksWithThisIsbn[0].author}}</h5>
          <p class="card-text text-justify"><b>Descrição:</b> {{item.unavailableBooksWithThisIsbn[0].description}}</p>    
      </div>
      <div>
        <br>
          <p class="card-text"><b>Disponibilidade:</b>
        <img *ngFor="let item of item.unavailableBooksWithThisIsbn" src="/assets/indis.png" style="margin-right:-1.2vw;">
        <img *ngFor="let item of item.availableBooksWithThisIsbn" src="/assets/dis.png" style="margin-right:-1.2vw;">
      </p></div>
      <hr>
    </div>
  
    <div class=" text-center">
  
      <!-- <button *ngIf="itemInFav(item.isbn)" type="button" id="like-button" [ngClass]="{'selected': true}" class="m-2" (click)="delFav(item.isbn)">
        <svg class="heart-icon " xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
          <path d="M91.6 13A28.7 28.7 0 0 0 51 13l-1 1-1-1A28.7 28.7 0 0 0 8.4 53.8l1 1L50 95.3l40.5-40.6 1-1a28.6 28.6 0 0 0 0-40.6z" /></svg>
        Favorito
      </button> -->
  
  
  
      <button *ngIf="item.availableBooksWithThisIsbn.length >0" type="button" [ngClass]="{'selected': false }" id="like-button" class="m-2"
        (click)="openModal(confReserva)" (click)="css2()">
        Reservar
      </button>
  
  
      <button  *ngIf="item.unavailableBooksWithThisIsbn.length>0" type="button" [ngClass]="{'selected': false }" tooltip="remover reserva"
        (click)="openModal(cancReserva)" containerClass="customClass" placement="top" id="like-button" class="m-2" >
        Cancelar
      </button>
  
  
    
  
     
    </div>
    <ng-template #confReserva>
      <div class="modal-header">
        <h4 class="modal-title pull-left" translate>Confirmação de reserva</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="form-group">
            <div *ngIf="item.availableBooksWithThisIsbn.length >0">
              <p translate>Deseja prosseguir com a reserva do livro <span class="font-weight-bold">{{item.availableBooksWithThisIsbn[0].title}} de {{item.availableBooksWithThisIsbn[0].author}}?</span></p>
              <button type="button" (click)="resModal.hide();reservar(item.availableBooksWithThisIsbn[0])" class="mod-button text-center" translate>Sim</button>
              <button type="button" (click)="resModal.hide()" class="cancel-button text-center" translate>Cancelar</button>
            </div>
           
          </div>
        </form>
      </div>
    </ng-template>
  
  
    <ng-template #cancReserva>
      <div class="modal-header text-center" >
        <h4 class="modal-title pull-left" translate>Cancelamento da reserva</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="resModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #f="ngForm">
          <div class="form-group">
           
            <div *ngIf="item.unavailableBooksWithThisIsbn.length >0">
             
              <p translate>Deseja cancelar a reserva do livro <span class="font-weight-bold">{{item.unavailableBooksWithThisIsbn[0].title}} de {{item.unavailableBooksWithThisIsbn[0].author}}?</span></p>
              <button type="button" (click)="resModal.hide(); cancelarReserva(item.unavailableBooksWithThisIsbn[0])" class="mod-button text-center" translate>Sim</button>
              <button type="button" (click)="resModal.hide()" class="cancel-button text-center" translate>Cancelar</button>
              
           
            </div>
          </div>
        </form>
      </div>
    </ng-template>
  </div>